@import "../../shared/rofi-colors.rasi"
@import "../../shared/rofi-font.rasi"

* {
    font: @font-bold;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    spacing: 0px;
}

window {
    location: south;
    width: 750px;
    border-radius: 15px;
    background-color: @background;
}

mainbox {
    padding: 12px;
}

inputbar {
    background-color: @background-alt;
    border: 2px;
    border-radius: 15px;
    padding: 8px 16px;
    spacing: 8px;
    children: [entry];
}

entry {
    placeholder: "Search";
    placeholder-color: @foreground;
    text-color: @foreground; 
}

textbox {
    padding: 24px;
}

listview {
    margin: 15px 0;
    lines: 4;
    columns: 6;
    fixed-height: true;
    spacing: 12px;
    text-color: @foreground;
}

element {
    border-radius: 18px;
    margin: 6px;
    padding: 10px;
    cursor: pointer;

    /* Make the tile a predictable size so icon can center */
    orientation: vertical;
    text-color: @foreground;
}

element selected normal,
element selected active {
    background-color: @selected;  
    text-color: @background; 
}

element-text {
    enabled: true;

    horizontal-align: 0.5;
    vertical-align: 0.0;

    expand: false;   /* ← IMPORTANT */

    padding: 4px 6px 0px 6px;
    text-color: inherit;
    background-color: transparent;
}

element-icon {
    /* Bigger icon */
    size: 7.2em;

    /* Center it */
    horizontal-align: 0.5;
    vertical-align: 0.5;

    /* Let it use available tile space */
    expand: false;

    cursor: inherit;
}