@import '../system-theme/generated/waybar-colors.css';

* {
    border: none;
    border-radius: 0px;

    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @background;
    border: 1px solid @color7;
    border-radius: 12px;
}

tooltip label {
    color: @foreground;
    padding: 6px;
}

#workspaces {
    background-color: @background;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @color0;
    color: @foreground;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    background-color: @selection_background;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @color4;
    color: @background;
    min-width: 50px;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @color5;
    color: @background;
    border-radius: 16px;
    min-width: 50px;
}

#workspaces button.urgent {
    background-color: @error;
    color: @background;
    border-radius: 16px;
    min-width: 50px;
}

#battery,
#pulseaudio,
#network,
#clock,
#custom-notification {
    background-color: @background;
    padding: 0 15px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid @color0;
}

#clock {
    color: @info;
}

#custom-notification {
    color: @foreground;
    margin: 0 12px;
}

#pulseaudio {
    color: @warning;
}

#network {
    color: @active_border_alt;
}

#battery {
    color: @success;
}